{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    
    {% if obj.sostoyan == 'Открыта' %}
        <div class="submit-row">
                <input type="submit" value="Взять в исполнение" name="_prin">
        </div>
    {% elif obj.sostoyan == 'В работе' and obj.requester == request.user %}
        <div class="submit-row">
            <input type="submit" value="Закрыть" name="_phph">
            <input type="submit" value="Закрыть" name="_phph">
        </div>
    {%  endif %}
{% endblock %}